name: NuGet Generation

on:
  push:
    branches:
      - master
  pull_request:
    types: [closed]
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-18.04
    name: Update NuGet package
    steps:
      - name: Checkout repository
        uses: actions/checkout@v1
        
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.301
          source-url: https://api.nuget.org/v3/index.json
        env:
          NUGET_AUTH_TOKEN: ''

      - name: Install dependencies
        run: dotnet restore
        
      - name: Proccess build
        run: dotnet build -c Release --no-restore

      - name: Setup nuget source
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.301
          source-url: https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json
        env:
          NUGET_AUTH_TOKEN: '%NUGET_AUTH_TOKEN%'
        
      - name: Generate NuGet package
        run: dotnet pack -c Release --no-restore
        
      - name: Push generated package to GitHub registry
        run: dotnet nuget push "bin/Release/*.nupkg" --no-symbols --skip-duplicate
        env:
          NUGET_AUTH_TOKEN: ${{ github.token }}
